/* --------------------------------- BROWSER RESETS --------------------------------- */

* {
	box-sizing: border-box;
	font-family: "Roboto";
	text-decoration: none;
	list-style-type: none;
	height: fit-content;
	width: fit-content;
}

h1,
h2,
h3,
h4,
h5,
p,
figure,
a,
ul,
ol {
	padding: 0;
	margin: 0;
}

img,
video {
	width: 100%;
	height: 100%;
}

body,
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

/* --------------------------------- COLOR & OTHER --------------------------------- */

:root {
	--primary-text-color: black;
	--primary-hover-color: #1a1a1a;
	--primary-button-color: #D97218;
	--primary-background-color: white;
	--secondary-text-color: #D97218;
	--secondary-button-color: #e0812e;
	--secondary-background-color: #EDEDED;
}

a {
	font-weight: normal;
	color: var(--primary-text-color);
}

a:hover,
#selected {
	font-weight: bold;
	text-decoration: underline;
	color: var(--primary-hover-color);
}

button {
	border-radius: 100px;
	color: var(--primary-background-color);
	background-color: var(--primary-button-color);
}

button:hover {
	background-color: var(--secondary-button-color);
}

#top-button {
	left: 25px;
	width: 50px;
	height: 50px;
	bottom: 25px;
	display: flex;
	position: fixed;
	cursor: pointer;
	align-self: center;
	border-radius: 150px;
	justify-content: center;
	background-color: var(--primary-button-color);
}

#top-button img {
	height: auto;
	width: 35px;
}

.none {
	display: none;
}

/* --------------------------------- HEADER --------------------------------- */

#top-content {
	width: 100%;
	display: flex;
	min-height: 118px;
	align-items: center;
	padding: 18px 116px;
	transition: height 0.5s;
	justify-content: space-between;
	background-color: var(--primary-background-color);
}

#top-content .logo {
	height: 79px;
}

#top-content .logo img {
	cursor: pointer;
}

#top-content .navigation .list {
	gap: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 480px;
}

#top-content .navigation .list a {
	transition: all 0.25s;
	font-family: "Roboto Mono";
}

#top-content .navigation .list figure {
	display: flex;
	cursor: pointer;
	align-items: center;
	transition: all 0.25s;
}

#top-content .navigation .list figure:hover {
	font-weight: bold;
	text-decoration: underline;
}

/* --------------------- RESIZE */

@media screen and (max-width: 950px) {

	#top-content {
		gap: 25px;
		flex-direction: column;
	}

	#top-content .logo {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	#top-content .logo img:first-of-type {
		width: fit-content;
	}

	#top-content .logo img:last-of-type {
		width: 40px;
		height: auto;
	}

	#top-content .navigation ol {
		flex-direction: column;
	}

	#top-content .hiddenOnPhone {
		display: none;
	}

	.hiddenOnComputer {
		display: block;
	}
}

/* --------------------------------- FOOTER --------------------------------- */

#bottom-content {
	width: 100%;
	display: flex;
	min-height: 360px;
	align-items: center;
	padding: 80px 100px;
	justify-content: space-evenly;
	background-color: var(--primary-background-color);
}

#bottom-content a,
#bottom-conten h3 {
	transition: all 0.25s;
	font-family: "Roboto Mono";
}

#bottom-content section {
	gap: 25px;
	width: 200px;
	height: 200px;
	display: inherit;
	justify-content: center;
	flex-direction: column;
}

#bottom-content section img {
	width: 20px;
	height: auto;
}

#bottom-content section figure {
	gap: 25px;
	display: inherit;
	align-items: center;
	margin-right: auto;
}

#bottom-content .genveje {
	height: 200px;
	width: 330px;
	flex-wrap: wrap;
}

/* #bottom-content .genveje figure:nth-of-type(4) {
	margin-top: 48px;
} */

/* --------------------- RESIZE */

@media screen and (max-width: 800px) {
	#bottom-content {
		gap: 25px;
		flex-direction: column;
	}

	#bottom-content section {
		text-align: center;
		align-items: center;
	}

	#bottom-content section figure {
		width: 200px;
		margin: 0;
	}

	#bottom-content .genveje {
		width: 200px;
		height: fit-content;
	}
}